<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    创建接口对应的SQL映射文件（Mapper映射文件）
    namespace属性：指定为接口的全类名
-->
<mapper namespace="com.jinan.mapper.EmployeeMapper">
    <select id="getEmployees" resultMap="myEmp" >
        select e.*,d.id d_id,d.name d_name
        from employees e
        left join departments d
        on e.dept_id = d.id
    </select>
    <select id="findUserById" resultMap="myEmp">
        select e.*,d.id d_id,d.name d_name
        from employees e
        left join departments d
        on e.dept_id = d.id where e.id = #{id}
    </select>

    <insert id="insertEmployee" parameterType="com.jinan.entities.Employee" >
        insert into employees(last_name,email,gender,dept_id)
        values(#{lastName},#{email},#{gender},#{department.id})
    </insert>

    <delete id="delEmployee" parameterType="java.lang.Integer">
        DELETE from employees WHERE id = #{id}
    </delete>

    <update id="updateEmployee" parameterType="com.jinan.entities.Employee">
        UPDATE employees
        SET last_name = #{lastName},
            email = #{email},
            gender = #{gender},
            dept_id = #{department.id}
        WHERE id = #{id}
    </update>
    <!--自定义高级映射-->
    <resultMap id="myEmp" type="com.jinan.entities.Employee">
        <!--映射文件-->
        <id column="id" property="id"></id>

        <result column="last_name" property="lastName"></result>
        <result column="email" property="email"></result>
        <result column="gender" property="gender"></result>
        <!--
        <result column="dept_id" property="deptId"></result>      ,dept_id  ,#{dept_id}
        <result column="last_name" property="lastName"></result>
        -->

        <association property="department" javaType="com.jinan.entities.Department">
            <!--映射文件-->
            <id column="d_id" property="id"></id>
            <!--映射其他类-->
            <result column="d_name" property="departmentName"></result>
        </association>
    </resultMap>
</mapper>
